{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br><br>
    <style>
        .right {
          float: right;
            margin: 50px 10px 0px 100px;
        }

        .left {
            float: left;
        }

    </style>
<div style="margin-left: 50px; margin-right: 50px;">
    <h1 style="text-align: center">{{ medium.title }}</h1>
    <br><br>
    <div class="right">

    {% if medium.mediaType ==  2  %}
        <td><a href="/uploads/brochures/{{ medium.File }}"><img width="300" height="300" src="/uploads/brochures/{{ medium.File }}"></a></td>
    {% elseif medium.mediaType == 1  %}
        <td>
            <video width="300" height="300" controls>
                <source src="/uploads/brochures/{{ medium.File }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
    {% elseif medium.mediaType == 3  %}
        <td>
        <td><a href="/uploads/brochures/{{ medium.File }}"><img width="300" height="300" src="/uploads/brochures/{{ medium.File }}"></a></td>
        </td>
    {% endif %}
    </div>
    <br><br>
    <table style="width: 60%" class="table">
        <tbody>

            <tr>
                <th style="width: 50%">Description</th>
                <td style="width: 50%">{{ medium.description }}</td>
            </tr>
            <tr>
                <th>Nom de fichier</th>
                <td>{{ medium.File }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{medium.creationDate|date('Y-m-d H:i:s')}}</td>
            </tr>

        </tbody>
    </table>



    <a class="btn btn-outline-dark" href="{{ path('media_index') }}">Retour à la liste</a>

    <a class="btn btn-outline-dark" href="{{ path('media_edit', {'id': medium.id}) }}">Modifier</a>
<br><br>
    {{ include('media/_delete_form.html.twig') }}
</div>
{% endblock %}
